@{
    ViewData["Title"] = "ViewRoom";
    Layout = "~/Views/Shared/_Layout404403.cshtml";
}

@*<div class="container404403">
    <img src="~/img/404.png"  class="img-404403"/>
    <h2>Forbidden(#403)</h2>
    <p>You don't have permission to view this page.</p>

</div>*@

<div class="outer">
    <div class="middle">
        <div class="inner">
            <div class="container-403404">
                <img src="~/img/404.png" class="img-404403" />
                <div class="text-403404">
                    <h2>Forbidden(#403)</h2>
                    <p>You don't have permission to view this page.</p>
                    <a href="#" class="btn custom-btn custom-cancel-btn">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>

