@{
    ViewData["Title"] = "AddCalanderDescription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN CONTAINER -->
<div class="page-container">

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="portlet box form-conatiner">
                <div class="icon-container"><a href="#" class="fa fa-tasks"></a></div>
                <div class="form-title-container">
                    <label>Add Calander Description</label>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">

                                <div class="col-md-12">
                                    <input type="text" class="form-control " placeholder="Title*">
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-12">
                                    <select class="form-control">
                                        <option>Status*</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                        <option>Option 4</option>
                                        <option>Option 5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="btn-container">

                                <button type="button" class="btn custom-btn custom-cancel-btn pull-left">Cancel</button>
                                <button type="button" class="btn custom-btn custom-cancel-btn pull-right">Update</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>





                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
</div>