@{
    ViewData["Title"] = "Home Page";
}
<!-- BEGIN CONTAINER -->
<div class="page-container">

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue">Save changes</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN DASHBOARD STATS -->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 custom-box-container">
                    <div class="dashboard-stat blue-madison custom-box" id="custom-box1">
                        <div class="visual">
                            <img src="~/img/icon/student-male.png">
                        </div>
                        <div class="details">
                            <div class="number">
                                570
                            </div>
                        </div>
                        <a class="more" href="#">
                            Current Active Student(Male)
                        </a>
                    </div>
                    <div class="hover-container"><a href="#" class="hover-text"> See All</a></div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 custom-box-container">
                    <div class="dashboard-stat blue-madison custom-box" id="custom-box2">
                        <div class="visual">
                            <img src="~/img/icon/student-female.png">
                        </div>
                        <div class="details">
                            <div class="number">
                                570
                            </div>
                        </div>
                        <a class="more" href="#">
                            Current Active Student(Female)
                        </a>
                    </div>
                    <div class="hover-container"><a href="#" class="hover-text"> See All</a></div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 custom-box-container">
                    <div class="dashboard-stat blue-madison custom-box" id="custom-box3">
                        <div class="visual">
                            <img src="~/img/icon/teacher.png">
                        </div>
                        <div class="details">
                            <div class="number">
                                570
                            </div>
                        </div>
                        <a class="more" href="#">
                            Total Teacher and Staff
                        </a>
                    </div>
                    <div class="hover-container"><a href="#" class="hover-text"> See All</a></div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 custom-box-container">

                    <div class="dashboard-stat blue-madison custom-box" id="custom-box4">
                        <div class="visual">
                            <img src="~/img/icon/sms.png">
                        </div>
                        <div class="details">
                            <div class="number">
                                570
                            </div>
                        </div>
                        <a class="more" href="#">
                            Total SMS Sent
                        </a>
                    </div>
                    <div class="hover-container"><a href="#" class="hover-text"> See All</a></div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 custom-box-container">
                    <div class="dashboard-stat blue-madison custom-box" id="custom-box5">
                        <div class="visual">
                            <img src="~/img/icon/sms-buy.png">
                        </div>
                        <div class="details">
                            <div class="number">
                                570
                            </div>
                        </div>
                        <a class="more" href="#">
                            Total SMS Buy
                        </a>
                    </div>
                    <div class="hover-container"><a href="#" class="hover-text"> See All</a></div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 custom-box-container">
                    <div class="dashboard-stat blue-madison custom-box" id="custom-box6">
                        <div class="visual">
                            <img src="~/img/icon/sms-balance.png">
                        </div>
                        <div class="details">
                            <div class="number">
                                570
                            </div>
                        </div>
                        <a class="more" href="#">
                            SMS Balance
                        </a>
                    </div>
                    <div class="hover-container"><a href="#" class="hover-text"> See All</a></div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 custom-box-container">
                    <div class="dashboard-stat blue-madison custom-box common-custom-box">
                        <div class="visual">
                            <img src="~/img/icon/absent-student.png">
                        </div>
                        <div class="details">
                            <div class="number">
                                570
                            </div>
                        </div>
                        <a class="more" href="#">
                            Today Students Absent
                        </a>
                    </div>
                    <div class="hover-container"><a href="#" class="hover-text"> See All</a></div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 custom-box-container">
                    <div class="dashboard-stat blue-madison custom-box common-custom-box">
                        <div class="visual">
                            <img src="~/img/icon/today-attendance.png">
                        </div>
                        <div class="details">
                            <div class="number">
                                570
                            </div>
                        </div>
                        <a class="more" href="#">
                            Today Students Attendance
                        </a>
                    </div>
                    <div class="hover-container"><a href="#" class="hover-text"> See All</a></div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 custom-box-container">
                    <div class="dashboard-stat blue-madison custom-box common-custom-box">
                        <div class="visual">
                            <img src="~/img/icon/staffs.png">
                        </div>
                        <div class="details">
                            <div class="number">
                                570
                            </div>
                        </div>
                        <a class="more" href="#">
                            Today Staff Attendance
                        </a>
                    </div>
                    <div class="hover-container"><a href="#" class="hover-text"> See All</a></div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 custom-box-container">
                    <div class="dashboard-stat blue-madison custom-box common-custom-box">
                        <div class="visual">
                            <img src="~/img/icon/admission-pending.png">
                        </div>
                        <div class="details">
                            <div class="number">
                                570
                            </div>
                        </div>
                        <a class="more" href="#">
                            Student Admission Pending
                        </a>
                    </div>
                    <div class="hover-container"><a href="#" class="hover-text"> See All</a></div>
                </div>

            </div>

        </div>
        <!-- END DASHBOARD STATS -->

    </div>
</div>
<!-- END CONTENT -->
