@model SinePulse.EMS.Site.Models.ImportSessionDataViewModel
@{
    ViewData["Title"] = "View Import Session Data Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-container">
    <div class="page-container">
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-bar margin-top-15 margin-bottom-15">
                            <div class="page-toolbar pull-left">
                                <div class="btn-group">
                                    <ul style="padding:0px;">
                                        <li class="custom-page-menu dropdown primary-menu-item-li">
                                            <a href="#" class="show-dropdown-on-hover" data-toggle="custom-page-menu">
                                                <button type="button" class="btn btn-fit-height dark-bg dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100" data-close-others="true">
                                                    <i class="fa fa-bars"></i>
                                                </button>
                                            </a>
                                            <ul class="dropdown-menu light-arrow-only">
                                                <li>
                                                    <a href="#">link1</a>
                                                </li>
                                                <li>
                                                    <a href="#">link2</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row list-separated profile-stat">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="checkbox-list">
                                        <label class="checkbox-inline">
                                            <div class="checker">
                                                <span class="checked">
                                                    <input type="checkbox">
                                                </span>
                                            </div> Option 1
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <label class="checkbox-inline">
                                        <div class="checker">
                                            <span>
                                                <input type="checkbox">
                                            </span>
                                        </div> Option 2
                                    </label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <label class="checkbox-inline">
                                        <div class="checker">
                                            <span>
                                                <input type="checkbox">
                                            </span>
                                        </div> Option 3
                                    </label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <label class="checkbox-inline">
                                        <div class="checker">
                                            <span>
                                                <input type="checkbox">
                                            </span>
                                        </div> Option 4
                                    </label>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row list-separated profile-stat">
                                <div class="col-md-12">
                                    <div class="portlet  box">

                                        <div class="portlet-body">
                                            <div id="tree_1" class="tree-demo">
                                                <ul>
                                                    <li>
                                                        Root node 1
                                                        <ul>
                                                            <li>
                                                                initially 
                                                                <ul>
                                                                    <li>
                                                                        initially open
                                                                        <ul>
                                                                            <li>
                                                                                Disabled Node
                                                                            </li>
                                                                            <li>
                                                                                Another node
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>
                                                                        Another node
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                open
                                                                <ul>
                                                                    <li>
                                                                        Disabled Node
                                                                    </li>
                                                                    <li>
                                                                        Another node
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                initially open
                                                                <ul>
                                                                    <li>
                                                                        Disabled Node
                                                                    </li>
                                                                    <li>
                                                                        Another node
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                initially open
                                                                <ul>
                                                                    <li>
                                                                        Disabled Node
                                                                    </li>
                                                                    <li>
                                                                        Another node
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>

                                                </ul>
                                            </div>

                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

