@model List<SectionViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div>
  <div class="form-group">
    <div class="col-md-12">
      <div class="col-md-4">
        @Html.DropDownListFor(x => x.Count, new SelectList(@Model, "Id", "SectionName"), @Localizer["ShowExamRoutine.SelectSection"].Value, new { @class = "form-control", id = "sectionNameDropDown" })
      </div>
      <div id="examRoutineCalender"></div>
    </div>

  </div>
</div>

<script>
  $(document).ready(function () {
    var date = new Date();
    var branchMediumId = parseInt($('#showBranchMediumViewId').val());
    var eventList = [];
    $.ajax({
      type: "GET",
      url: "/PublicHoliday/GetAcademicYearEvents?branchMediumId=" + branchMediumId,
      dataType: "JSON",
      contentType: "application/json;charset=utf-8",
      success: function (data) {
        if (data.length > 0) {
          eventList = data;
        }

        $('#mediumCalendar').fullCalendar({
          defaultDate: date,
          editable: false,
          eventLimit: false, // allow "more" link when too many events
          events: eventList,
          defaultView: 'agendaWeek'
        });
      },
      error: function (a, b, c) {

      }
    });


  });
</script>