
@model List<SinePulse.EMS.Domain.Examinations.ClassTest>
@using SinePulse.EMS.Domain.Enums
<div class="page-container">
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content">
      <div class="portlet-body form">
        
      </div>
    </div>
  </div>
</div>


